pandas
selenium
webdriver-manager
streamlit
langchain
langchain-google-genai
langchain-community
faiss-cpu
openai
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
chromedriver-autoinstaller
streamlit
selenium==4.15.2
pandas
requests
webdriver-manager
